<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style2.css">
    <title>elementoClassifica</title>
</head>
<body>

    <h1 class="uno">Ecco la classifica dell'edizione</h1>

    <table class="elenco">
        <tr>
			<th>Piazzamento</th>
            <th>NomeCavallo</th>
            <th>Nome Fantino</th>
			<th>Contrada</th>
            <th>Foto</th>
        </tr>

        <!-- Visualizza un semplice messaggio se la lista è vuota -->
        <tr th:if="${#lists.isEmpty(elementiClassifica)}">
            <td colspan="3">Nessun dato trovato</td>
        </tr>

        <!-- Iterazione corretta sugli elementi della lista -->
        <tr th:each="elementoClassifica : ${elementiClassifica}">
			<td th:text="${elementoClassifica.posizione}">NomeCavallo</td>

            <td th:text="${elementoClassifica.partecipazione.cavallo.nome}">NomeCavallo</td>
			
			
			<td th:text="${elementoClassifica.partecipazione.fantino.nome}+ 
			${elementoClassifica.partecipazione.fantino.cognome} 
			">NomeFantino</td>
			
			<td th:text="${elementoClassifica.partecipazione.contrada.nome}">Contrada</td>

            <td th:text="${elementoClassifica.classifica.edizione.data}">Data</td>
            <td>Foto (questa colonna può essere aggiunta più tardi)</td>
        </tr>
    </table>

</body>
</html>
