<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/cavallo.css">
	<title>Cavallo</title>
</head>

<body>
	<h1 class="titolo" id="titolo-cavalli">Ecco tutti i cavalli registrati</h1>

	<table class="elenco" id="tabella-cavalli">
	  <thead>
	    <tr class="riga-intestazione">
	      <th class="col-id">Id</th>
	      <th class="col-nome">Nome</th>
	      <th class="col-razza">Razza</th>
	      <th class="col-foto">Foto</th>
	      <th class="col-info">Info</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="riga-cavallo" th:each="cavallo : ${cavalli}">
	      <td class="col-id" th:text="${cavallo.id}"></td>
	      <td class="col-nome" th:text="${cavallo.nome}"></td>
	      <td class="col-razza" th:text="${cavallo.razza}"></td>
	      <td class="col-foto">
	        <img class="foto-cavallo" th:src="@{/cavalli/{id}/immagine(id=${cavallo.id})}" alt="immagine cavallo" width="100" />
	      </td>
	      <td class="col-info">
	        <form class="form-info" th:action="@{/cavalli/{id}(id=${cavallo.id})}" method="get">
	          <button class="btn-info" type="submit">Vedi info</button>
	        </form>
	      </td>
		  <form th:action="@{/cavalli/delete/{id}(id=${cavallo.id})}" method="get"
		                         onsubmit="return confirm('Sei sicuro di voler eliminare questo cavallo?');">
		                       <button type="submit">Elimina</button>
		                   </form>
		  
	    </tr>
	  </tbody>
	</table>

	

</body>

</html>