<!DOCTYPE html>
<html>
	<head>
			<title>Nuovo Cavallo</title>
			<link rel="stylesheet" href="/stile.css?version=3"/>
		</head>
		<body>
			<div><a href="/"></a></div>
			<h1>Aggiungi un Cavallo</h1>
			<form th:action="@{/insCavallo}" method="post" th:object="${cavallo}">
				<div>
					Nome: <span><input required type="text" th:field="${cavallo.nome}"/></span>
					<span th:text="${msgErrTitle}">Campo Obbligatorio</span>
				</div>
				<div>
					Razza: <span><input required type="text" th:field="${cavallo.razza}"/></span>
					<span th:text="${msgErrYear}">Campo Obbligatorio</span>
				</div>
				<div>
					URL immagine: <span><input type="url" th:field="${cavallo.urlImmagine}"/></span>
				</div>
				<div>
					<span><button type="submit">Conferma</button></span>
				</div>
			</form>
		</body>	


</html>