<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <title>Modifica Cavallo</title>
    <link rel="stylesheet" href="/css/insCavallo.css" />
</head>
<body>
	<!-- BARRA SUPERIORE -->
	<div class="top-bar">
	  <div class="header-content">
	    <div class="logo-text">Palio di Siena</div>
	    <div class="user-controls">
			<form th:action="@{/home}" method="get" style="display: inline;">
			         <button class="btn" type="submit">Home</button>
			       </form>
	      <div sec:authorize="isAuthenticated()">
	        <span class="user-name" th:text="${#authentication.name}">Utente</span>
	        <form th:action="@{/logout}" method="post" style="display: inline;">
	          <button type="submit" class="btn">Logout</button>
	        </form>
	      </div>
	      <div sec:authorize="!isAuthenticated()">
	        <form th:action="@{/login}" method="get" style="display: inline;">
	          <button type="submit" class="btn">Login</button>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>

	    <h1 class="main-title">Modifica Cavallo</h1>
    <form th:action="@{/saveCavallo}" method="post" th:object="${cavallo}" enctype="multipart/form-data" class="form-cavallo">
		<input type="hidden" th:field="*{id}" value="${id}" />
<div>
            Nome: <span><input required type="text" th:field="*{nome}" /></span>
            <span th:text="${msgErrTitle}">Campo Obbligatorio</span>
        </div>
        <div>
            Razza: <span><input required type="text" th:field="*{razza}" /></span>
            <span th:text="${msgErrYear}">Campo Obbligatorio</span>
        </div>
		<div>
		         Immagine cavallo:
		        <input type="file" th:field="*{fileImmagine}" accept="image/*" />
		        </div>
					
        <div>
            <span><button type="submit" class="btn">Conferma</button></span>
        </div>
    </form>
</body>
</html>
