<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/commenti.css">
  <title>Cavalli - Palio di Siena</title>
</head>

<body>
	<!-- HEADER -->
	<header class="top-bar">
	  <div class="header-content">
	    <div class="logo-text">Palio di Siena</div>
	    <div class="user-controls">
	      <form th:action="@{/home}" method="get" style="display: inline;">
	        <button class="btn" type="submit">Home</button>
	      </form>

	      <div sec:authorize="isAuthenticated()" style="display: inline;">
	        <span class="user-name" th:text="${#authentication.name}"></span>
	        <form th:action="@{/logout}" method="post" style="display: inline;">
	          <button class="btn" type="submit">Logout</button>
	        </form>
	      </div>

	      <div sec:authorize="!isAuthenticated()" style="display: inline;">
	        <form th:action="@{/login}" method="get" style="display: inline;">
	          <button class="btn" type="submit">Login</button>
	        </form>
	      </div>
	    </div>
	  </div>
	</header>

  <!-- TITOLO -->
  <!-- TITOLO E CONTENUTO -->
  <div class="commenti-container">

    <h1 class="titolo">Ecco tutti i commenti</h1>

    <div class="commenti-lista">
      <div class="card-cavallo" th:each="commento : ${commenti}">
          <h2 th:text="${commento.utente}"></h2>
          <p><span th:text="${commento.contenuto}"></span></p>
      </div>
    </div>

    <div class="form-aggiungi" sec:authorize="isAuthenticated()">
      <form th:action="@{/insCommento/{id}/{idUser}(id=${id}, idUser=${userLoggato.id})}" method="get">
          <button type="submit" class="btn-card">Inserisci un commento</button>
      </form>
    </div>

  </div>

 
</body>
</html>
