<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/cavallo.css">
    <title>Fantini</title>
</head>
<body>
	ody>
			<!-- HEADER -->
				<header class="top-bar">
				  <div class="header-content">
				    <div class="logo-text">Palio di Siena</div>
				    <div class="user-controls">

				      <!-- Home -->
				      <form th:action="@{/home}" method="get" style="display: inline;">
				        <button class="btn" type="submit">Home</button>
				      </form>

				      <!-- Autenticato -->
				      <div sec:authorize="isAuthenticated()" style="display: inline;">
				        <span class="user-name" th:text="${#authentication.name}"></span>
				        <form th:action="@{/logout}" method="post" style="display: inline;">
				          <button class="btn" type="submit">Logout</button>
				        </form>
				      </div>

				      <!-- Non autenticato -->
				      <div sec:authorize="!isAuthenticated()" style="display: inline;">
				        <form th:action="@{/login}" method="get" style="display: inline;">
				          <button class="btn" type="submit">Login</button>
				        </form>
				      </div>
				    </div>
				  </div>
				</header>

 

  <!-- TITOLO -->
  <h1 class="main-title">Ecco tutti i fantini registrati</h1>

  <!-- CARD CONTAINER -->
  <div class="card-container">
	<!-- CARD PER AGGIUNTA -->
		<div class="card-cavallo add-card" sec:authorize="hasRole('ADMIN')">
		  <form th:action="@{/insFantino}" method="get" class="add-card-form">
		    <button type="submit" class="plus-sign">+</button>
		  </form>
		</div>
    <a class="card-cavallo" th:each="fantino : ${fantini}"
       th:href="@{/fantini/{id}(id=${fantino.id})}"
       th:style="'background-image: url(/fantini/' + ${fantino.id} + '/immagine)'">
      <div class="card-overlay">
        <h2 th:text="${fantino.nome} + ' ' + ${fantino.cognome}">Nome Fantino</h2>
        <p><strong>ID:</strong> <span th:text="${fantino.id}">1</span></p>
        <p><strong>Data di nascita:</strong> <span th:text="${fantino.dataNascita}">01/01/1970</span></p>
      </div>
    </a>
  </div>

</body>
</html>
