<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Cavallo</title>
</head>

<body>
	<div th:if="${cavallo}">
		<h1 class="uno">Dati cavallo</h1>
		<p class="definizione">Id cavallo</p>
		<p class="nome" th:text="${cavallo.id}"></p>
		<p class="definizione">Nome cavallo</p>
		<p class="nome" th:text="${cavallo.nome}">
		</p>
		<p class="definizione">Razza cavallo</p>
		<p class="nome" th:text="${cavallo.razza}"></p>
		<p class="definizione">Foto cavallo:</p>
		<div><img width="30%" th:src="${cavallo.urlImmagine}" /></div>

	</div>
	<div th:unless="${cavallo}">
		<p>cavallo non trovato</p>
	</div>
</body>

</html>