<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Homepage Palio di Siena</title>
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <header class="top-bar">
    <div class="header-content">
      <div class="logo-text">Palio di Siena</div>

      <div class="user-controls">
        <div sec:authorize="isAuthenticated()">
          <span class="user-name" th:text="${#authentication.name}"></span>
          <form th:action="@{/logout}" method="post">
            <button class="btn" type="submit">Logout</button>
          </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
          <form th:action="@{/login}" method="get">
            <button class="btn" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <main>
    <h1 class="main-title">Benvenuto al Palio di Siena</h1>

    <div class="content">
      <a href="/cavalli/cercatutti" class="action-card card-cavalli">
        <span class="card-text" >Cavalli
			</span>
			
		
      </a>
      <a href="/contrade" class="action-card card-contrade">
        <span class="card-text">Contrade</span>
      </a>
      <a href="/fantini/cercatutti" class="action-card card-fantini">
        <span class="card-text">Fantini</span>
      </a>
      <a href="/edizioni" class="action-card card-edizioni large">
        <span class="card-text">Edizioni</span>
      </a>
    </div>
  </main>
</body>
</html>
