<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Success</title>
	<link rel="stylesheet" th:href="@{/css/cavallo.css}" />
</head>

<body>
	<!-- BARRA SUPERIORE -->
		<div class="top-bar">
		  <div class="logo-text">Palio di Siena</div>

		  <div class="user-controls">
		    <div sec:authorize="isAuthenticated()">
		      <span class="user-name" th:text="${#authentication.name}">Utente</span>
		      <form th:action="@{/logout}" method="post" style="display: inline;">
		        <button type="submit" class="btn">Logout</button>
		      </form>
		    </div>
		    <div sec:authorize="!isAuthenticated()">
		      <form th:action="@{/login}" method="get" style="display: inline;">
		        <button type="submit" class="btn">Login</button>
		      </form>
		    </div>
		  </div>
		</div>

	<h1 class="scrittaInt" th:text="|Benvenuto/a ${#authentication.name}|">
		
	</h1>
	
	
	
	<form th:action="@{/home}" method="get">
		<button class="btn" type="submit">Vai al sito</button>
	</form>
</body>

</html>