<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Success</title>
	<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
	
		<!-- CONTENUTO CENTRALE -->
		 <div class="login-container">
		     <h1 class="login-title" th:text="|Benvenuto/a ${#authentication.name}|">Benvenuto/a</h1>

		     <form th:action="@{/home}" method="get">
		         <div class="login-buttons" style="justify-content: center;">
		             <button class="btn" type="submit">Vai al sito</button>
		         </div>
		     </form>
		 </div>
</body>
</html>