<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/cavallo.css">
	<title>Edizione</title>
</head>

<body>
	<!-- BARRA SUPERIORE -->
		<div class="top-bar">
		  <div class="logo-text">Palio di Siena</div>

		  <div class="user-controls">
		    <div sec:authorize="isAuthenticated()">
		      <span class="user-name" th:text="${#authentication.name}">Utente</span>
		      <form th:action="@{/logout}" method="post" style="display: inline;">
		        <button type="submit" class="btn">Logout</button>
		      </form>
		    </div>
		    <div sec:authorize="!isAuthenticated()">
		      <form th:action="@{/login}" method="get" style="display: inline;">
		        <button type="submit" class="btn">Login</button>
		      </form>
		    </div>
		  </div>
		</div>
	<div th:if="${edizione}">
		<h1 class="uno">Dati edizione</h1>
		<a class="box">
		<p class="definizione">Id edizione</p>
		<p class="nome" th:text="${edizione.id}"></p>
		</a>
		<a class="box">
				<p class="definizione">Data edizione</p>
				<p class="nome" th:text="${edizione.data}"></p>
				</a>
		<a class="box">
	
		<p class="definizione">Foto edizione:</p>
		<div><img width="30%" th:src="${edizione.urlImmagine}" /></div>
		</a>
		<form th:action="@{/classifica/{id}(id=${edizione.id})}" method="get">
		    <button type="submit">Vedi classifica</button>
		</form>
		<div sec:authorize="hasRole('ADMIN')">
		<div th:action="@{/edizioni/delete/{id}(id=${edizione.id})}" method="get"
		                       onsubmit="return confirm('Sei sicuro di voler eliminare questo fantino?');">
		                     <button type="submit">Elimina</button>
							 </div>
		     </div>
						             </form>
		<div sec:authorize="hasRole('ADMIN')">
		<form th:action="@{/insPartecipazione/{id}(id=${edizione.id})}" method="get">
			<button type="submit">Ins Partecipazione</button>
			</form>
			</div>
		
		<div sec:authorize="isAuthenticated()">
		<form th:action="@{/insCommento/{id}(id=${edizione.id})}">
			<button type="submit" class="btn">inserisci un commento</button>
		</form>
		</div>
		<div sec:authorize="!isAuthenticated()">
			<form th:action="@{/commentiEdizione/{id}(id=${edizione.id})}" method="get">
								<button type="submit" class="btn">Vedi i commenti</button>			
							</form>
				</div>
				
				
	</div>
	<div th:unless="${edizione}">
		<p>edizione non trovata</p>
	</div>
</body>

</html>