<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/cavallo.css">
	<title>Edizioni</title>
</head>

<body>
	<!-- BARRA SUPERIORE -->
		  <div class="top-bar">
		    <div class="logo-text">Palio di Siena</div>
			<form th:action="@{/home}" method="get">
				<button class="btn" type="submit">home</button>
			</form>
		    <div class="user-controls">
		      <div sec:authorize="isAuthenticated()">
		        <span class="user-name" th:text="${#authentication.name}">Utente</span>
		        <form th:action="@{/logout}" method="post" style="display: inline;">
		          <button type="submit" class="btn">Logout</button>
		        </form>
		      </div>
		      <div sec:authorize="!isAuthenticated()">
		        <form th:action="@{/login}" method="get" style="display: inline;">
		          <button type="submit" class="btn">Login</button>
		        </form>
		      </div>
		    </div>
		  </div>
		  
		  
	<h1 class="titolo">Ecco tutte le edizioni registrate</h1>
	<table class="elenco" >
					
					 <!-- Inizia la tabella -->
					<tr> <!-- Inizia la prima riga
					
					 -->
					<td>Id</td>
					<td>Data </td>
					<td>Foto</td> <!-- Seconda colonna -->
	</tr>
	
	
	
	  <a th:each=" edizione : ${edizioni}">
	    
			
			
			
			
			
				
			
				
				 <!-- Fine della prima riga -->
				<tr> <!-- Inizia la seconda riga -->
					<td th:text="${edizione.id}"></td>
				         <td th:text="${edizione.data}"></td>
				
				<td >
					<img th:src="@{'/edizione/' + ${edizione.id} + '/immagine'}" alt="Immagine edizione" />
				<td>
					<form  th:action="@{/edizione/{id}(id=${edizione.id})}" method="get">
									<button type="submit">vedi info</td> <!-- Seconda colonna -->
									</button></form>
					
					
									
				</td>
			</tr> <!-- Fine della seconda riga -->
				</table> <!-- Fine della tabella -->
			
			
			
			
		
	  </a>
	  
	<form th:action="@{/insEdizione}" method="get">
		<button class="btn" type="submit">+</button>
	</form>
	  
	  
	  

</body>

</html>