<!DOCTYPE html>
<html>
<head>
    <title>Nuova Edizione</title>
    <link rel="stylesheet" href="/stile.css?version=3"/>
</head>
<body>
    <div><a href="/">Home</a></div>
    <h1>Aggiungi un'edizione</h1>

    <form th:action="@{/insEdizione}" method="post" th:object="${edizione}" enctype="multipart/form-data">
        <div>
            Data:
            <span><input required type="date" th:field="*{data}"/></span>
            <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}">Campo obbligatorio</span>
        </div>

        <div>
            <label>Immagine:</label>
            <input type="file" name="fileImmagine" accept="image/*" />
        </div>

        <div>
            <button type="submit">Conferma</button>
        </div>
    </form>
</body>
</html>
