
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<link rel="stylesheet" href="/contrade.css" />
		<title>Contrada</title>
	</head>
	<div class="contenitore">
	<body th:id="'id-'+ ${contrada.id}" >
		<a th:id="'id-'+ ${contrada.id}"  > 

			<img th:src="@{'/urlImmagine/' + ${contrada.id}}" alt="Contrada"/>

		</a>
		<div th:if="${contrada}" >
		<p class="contrada" th:id="'id-'+ ${contrada.id}" th:text="${contrada.nome}">	</p>
		<p class="contrada" th:id="'id-'+ ${contrada.id}" th:text="${contrada.descrizioneLunga}"></p> 
		</div>
	</div>
		<div class="contrada" th:unless="${contrada}"><a>Contrada non trovata</a>
		</div>
			
			
		
		<form th:action="@{/contrade}">
			<button type = "submit">
			Vedi tutte
			</button>
		</form>
		<form th:action="@{/partContrada/{id}(id=${contrada.id})}">
			<button type = "submit">
						Vedi partecipazioni
						</button>
		</form>
		<div sec:authorize="hasRole('ADMIN')">
		<form th:action="@{/eliminaContrada/{id}(id=${contrada.id})}" method="get"
		               onsubmit="return confirm('Sei sicuro di voler eliminare questa contrada?');">
		           <button type="submit" class="btn-card danger">Elimina</button>
		         </form>
				 </div>
	</body>
</html>

			
	
