<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/contrade.css">
	<title>Cavallo</title>
</head>
	<h1 class="titolo">Ecco tutte le contrade registrate</h1> 

	<table class="elenco">
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Descrizione</th>
			<th>Logo</th>
			<th>Azioni</th>
		</tr>

		<tr th:each="contrada, iterStat : ${contrade}" th:id="'riga-contrada-' + ${contrada.id}">
			<td th:text="${contrada.id}" th:id="'id-' + ${contrada.id}"></td>
			<td th:text="${contrada.nome}" th:id="'nome-' + ${contrada.id}"></td>
			<td th:text="${contrada.descrizione}" th:id="'descrizione-' + ${contrada.id}"></td>
			<td th:id="'immagine-' + ${contrada.id}">
				
				<img th:src="@{'/urlImmagine/' + ${contrada.id}}" alt="Contrada"/>

			</td>
			<td>
				<form th:action="@{/contrade/{id}(id=${contrada.id})}" method="get">
					<input type="hidden" th:name="id" th:value="${contrada.id}" />

					<button type="submit">Vedi info</button>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>

			
	
