<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/cavallo.css">
  <title>Cavalli - Palio di Siena</title>
</head>

<body>

  <!-- BARRA SUPERIORE -->
  <div class="top-bar">
    <div class="logo-text">Palio di Siena</div>
	<form th:action="@{/home}" method="get">
		<button class="btn" type="submit">home</button>
	</form>
    <div class="user-controls">
      <div sec:authorize="isAuthenticated()">
        <span class="user-name" th:text="${#authentication.name}">Utente</span>
        <form th:action="@{/logout}" method="post" style="display: inline;">
          <button type="submit" class="btn">Logout</button>
        </form>
      </div>
      <div sec:authorize="!isAuthenticated()">
        <form th:action="@{/login}" method="get" style="display: inline;">
          <button type="submit" class="btn">Login</button>
        </form>
      </div>
    </div>
  </div>

  <!-- TITOLO -->
  <h1 class="titolo">Ecco tuttie le partecipazioni</h1>

  <!-- TABELLA -->
  <table class="elenco">
    <thead>
      <tr class="riga-intestazione">
        <th class="col-id">Cavallo</th>
        <th class="col-cavallo">Fantino</th>
        <th class="col-fantino">Contrada</th>
		<th class="col-info">Data edizione</th>

        <th class="col-contrada">Posizionamento</th>
        <th sec:authorize="hasRole('ADMIN')">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr class="riga-cavallo" th:each="partecipazione : ${partecipazioni}">
        <td class="col-id" th:text="${partecipazione.cavallo.nome}"></td>
        <td class="col-nome" 
		th:text="|${partecipazione.fantino.nome} ${partecipazione.fantino.cognome}|
		"></td>
        <td class="col-razza" th:text="${partecipazione.contrada.nome}"></td>
		<td class="col-razza" th:text="${partecipazione.edizione.data}"></td>

			<div th:if="${partecipazione.elementoClassifica}">
				<td class="col-info" th:text="${partecipazione.elementoClassifica.posizione}">
					</td>
				</div>
			<div th:unless="${partecipazione.elementoClassifica}">
							<td class="col-info" th:text="'non ha tagliato il traguardo'">
								</td>
							</div>
		
  
      </tr>
    </tbody>
  </table>


</body>
</html>
